@import "./variables";

.tiles {
  display: flex;
  flex-wrap: wrap;
  margin: 0 $main-spacing * -1;
}

.tiles__tile {
  width: 33%;
  min-width: 110px;
  padding: 0 $main-spacing;
  margin-bottom: $main-spacing / 2;
}

.tiles__tile-content {
  cursor: pointer;
  background: $primary-color;
  padding: $main-spacing;
  color: $btn-text-color;
  transition: 0.3s;

  &:hover {
    background: darken($primary-color, 10%);
  }
}
